<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scelet</title>
  {{!-- <link rel="stylesheet" href="/style/style.css"> --}}
  {{!-- <script defer src="/js/client.js"></script>
  <script defer src="/js/profilParty.js"></script> --}}
</head>

<body>

  <div class="header">
<a href="/" class="logo">Главная</a>
    <div class="header-right">
      {{#if username}}
      <a id="profilParty" href="/profilParty" class="logo">{{username}}</a>
      <a href="/user/logout">Выйти</a>
      {{else}}
      <a href="/user/registration">Регистрация</a>
            <div className="d-flex justify-content-between mt-4 text-center">
        <a href="/auth/google">
          <img
            src="https://c7.uihere.com/files/193/660/878/search-engine-optimization-internet-google-search-google-thumb.jpg"
            height="40"
          />
        </a>
      </div>
      {{/if}}
    </div>
  </div>
  {{{body}}}
</body>

</html>



